@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

* { box-sizing: border-box; }

html, body, #root {
	height: 100%;
}

.scrollbar-thin::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.15);
	border-radius: 6px;
}


